body {

    font-size: 26px;
        color: whitesmoke;
        background: rgb(87, 49, 255);
        /* background-image: url('https://dspncdn.com/a1/media/originals/aa/d1/31/aad1311b34687bfcbf26098e89aa3fee.jpg'); */
        background-position: bottom;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0;
    }

    h1 {
        color: rgb(87, 49, 255);
        font-size: 3em;
    }
    h3 {
        color: rgb(87, 49, 255);
        font-size: 12px;
    }
    
    .header {
        top: 0;
        padding: 10px 10%;
        color: whitesmoke
    }
    
    .header h2 {
        padding: 30px;
    }
    
    main {
        background-color: whitesmoke;
        margin: 5% 10%;
        padding: 5%;
        text-align: center;
        color: #333;
        border-radius: 20px;
        font-size: 22px;
    
    
    }
    
    main p {
        padding: 5%;;
    }
    
    .bt1 {
        border-radius: 20px;
        padding: 18px 20px;
        font-size: 14px;
        background-color: whitesmoke;
        border: solid 2px whitesmoke;
        font-weight: 600;
        margin-bottom: 200px;
        color: rgb(87, 49, 255);
    
    }
    
    .bt1:hover {
       opacity: 0.8;
       color: rgb(87, 49, 255);
    }
    
    .btn2 {
        border-radius: 20px;
        padding: 18px 20px;
        font-size: 14px;
        border-color: whitesmoke;
        background-color: rgb(87, 49, 255);
        border: solid 2px whitesmoke;
        font-weight: 600;
        margin-bottom: 200px;
        color: whitesmoke
    }
    
    .btn2:hover {
    color: rgb(87, 49, 255);
    background: transparent;
    border: solid 2px rgb(87, 49, 255);
    
    }
    
    a {
        text-decoration: none}
    
    .clickarea {
        margin-bottom: 30px;
    }
            #footer {
                font-size: 12px;
                bottom:0;
                width:100%;
                margin-top: 30px; 
                padding: 30px 20px;
            }

    #botaoreset{
        display: none;
}